*.build
*.changes
*.dsc
*.in
*.la
*.lineno
*.lo
*.o
*.orig
*.so
*.tar.gz
*.tgz
*~
.deps/
.libs/
.vagrant/
/Makefile
aclocal.m4
ar-lib
autom4te.cache/
config.guess
config.h.in
config.log
config.status
config.sub
configure
configure.in
depcomp
config.h
install-sh
ltmain.sh
m4/
missing
src/**/Makefile
stamp-h1
zabbix-*/
